@import "classes";

#maintext {
  @extend .text;
}
#s {
  @extend .headerText;
}
#background1 {
  @extend .background;
  top:0px;
  background-image: url("../../pictures/tremor/tremor_blue.jpg");
}
#background2 {
  @extend .background;
  top:100%;
  background-image: url("../../pictures/tremor/tremor_double.jpg");
}
